*{
margin: 3;
padding: 0;
}
header{
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
#titulo{
    font-family: sans-serif;
    color: #835aa8;

}


#subtitulo {
    font-family: sans-serif;
    color: #8058a5;
}